#verify {
	display: flex;
	flex-direction: column;
	place-items: center;
	text-align: center;
	gap: 50px;
	margin: auto;
}

#verify a{
	padding: 15px 30px;
	background: #444;
	width: fit-content;
	border-radius: 15px;
}

#verify #error {
	padding: 15px 0px;
	width: 100%;
	background: #fcc;
	color: red;
}

#verify #success {
	padding: 15px 0px;
	width: 100%;
	background: #cfc;
	color: green;
}
